/* .user-info{
    margin-top: 20px;
    margin-bottom: 80px;
} */

::placeholder {
    --placeholder-color: black;
    --placeholder-opacity: 1;
}



ion-input:focus::placeholder { 
    --color: transparent;
    --placeholder-opacity: 0;
}

.profile-label {
    color: blue;
    font-size: large;
    margin: 10px;
}