.user-details {

    margin: 20px;
    border: 2px solid #ada9a8;
    border-radius: 25px;
    --highlight-color-focused: none;

}

/* .img-fqlogin {
    height: 40%;
    width: 100%
} */

.ion-margin-custom {
    --padding-top: 50px;
}

